.container {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #e1e9f7;
}

.title {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
}

.content {
  flex: 1;
}

.likeButtonContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
