:host {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  justify-self: center;
}

.input-comment {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-self: flex-start;
}

.button-load-more {
  display: flex;
  justify-self: flex-start;
  margin-top: 10px;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  background-color: #e1e9f7;
}

.post-title {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
}

.post-content {
}

.comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-content {
}
